<div class="form-group">
    <label for="web">Votre site internet : </label>
    <input class="form-control" name="web" id="web" placeholder="Un site internet, portfolio ?">
</div>
<div class="form-group">
    <label for="discord">Votre discord : </label>
    <input class="form-control" name="discord" id="discord" placeholder="Facilitez vos communications">
</div>
<div class="form-group">
    <label for="facebook">Votre facebook : </label>
    <input class="form-control" name="facebook" id="facebook" placeholder="Lien de votre profil facebook">
</div>
<div class="form-group">
    <label for="linkedin">Votre Linkedin : </label>
    <input class="form-control" name="linkedin" id="linkedin" placeholder="Lien de votre profil linkedin">
</div>
<div class="form-group">
    <label for="skype">Votre skype : </label>
    <input class="form-control" name="skype" id="skype" placeholder="Votre skype...">
</div>
<div class="form-group">
    <label for="git">Votre git : </label>
    <input class="form-control" name="git" id="git" placeholder="Votre git">
</div>